<div class="row">
    <div class="col-md-6">
      <h3>Welcome to IMS</h3>
      <form>
          <div class="form-group">
        <label> Email</label>
        <input class = "form-control" type= "text" />
      </div>
      <div class="form-group">
        <label> Password</label>
        <input class = "form-control" type= "text" />
      </div>
      
        
        <button class="btn btn-success" type="submit">LogIn</button> |
      <button class="btn btn-primary" type="reset">Cancel</button>
      </form>
      
    </div>
  </div>
