/* You can add global styles to this file, and also import other style files */
*{
    margin: auto;
    padding: 0;
}
.body{
    background-color: #ffffff;

}
.container-fluid-background{
    background-image: url('https://images.unsplash.com/photo-1485199926533-8c38475abf2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    height: 100vh;

}
.container-fluid{
    background-color: #ffffff;
}


.mainPage{
    background-color: #c5c5aa;
    position: absolute;
    top: 200px;
    text-align: center;
    height: 400px;
    padding-top: 50px;
}

.mainInput{
    display: block;
    width: 350px;
    margin-top: 30px;
}
.mainButton{
    margin-top: 20px;
    width: 100px;
    height: 40px;
}
h2{
    padding: 20px;
}







.form-group{
    text-align: center;
}
.regForm{
    width: 500px;
}
.input-group{
    display: block;
    width: 300px;
    margin-top: 50px;
    text-align: center;
}
.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-group-text{
    width: 300px;
}
.phoneNumber{
    float: left;
    margin-top: 10px;
}
.customNumber{
    width: 242px;
    margin-left: 10px;
    padding: 2px 2px 2px 10px;
}
.btn-block{
    display: inline;
    width: 300px;
    margin-top: 10px;
}