<app-headeruser></app-headeruser>
<div class="regForm">

    <div class="card bg-light">
        <div class="conatiner-fluid container-fluid-background">
        
        <p class="divider-text">
            <span class="bg-light"></span>
        </p>
        <form>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="First name" type="text">
            <input name="" class="form-control" placeholder="Last name" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <div class="phoneNumber">
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+49</option>
                    <option value="1">+91</option>
                    
                </select>
                <input name="" class="form-control" placeholder="Phone number" type="text" class="customNumber">
            </div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control">
                <option selected=""> Select User Type</option>
                <option>User</option>
                <option>Seller</option>
                <option>Admin</option>
            </select>
        </div> 
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Create password" type="password">
        </div> 
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            
        </div>  
        <br><br>                                   
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block mt"> Submit  </button>
        </div>    
        <p class="text-center">Have an account? <a href="" (click)="Login()">Log In</a> </p>                                                                 
    </form>
</div>
    </div>
    </div>